/*======================
HEADER
=======================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#fff8fb;
}

.container{
    width:90%;
    max-width:1400px;
    margin:auto;
}

header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    background:#fff;

    box-shadow:0 5px 25px rgba(0,0,0,.08);

    z-index:999;

}

header .container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 0;

}

.logo h1{

    color:#ff2d6f;

    font-size:45px;

    font-weight:800;

}

.logo span{

    font-size:22px;

    font-weight:600;

}

nav ul{

    display:flex;

    list-style:none;

    gap:45px;

}

nav ul li a{

    text-decoration:none;

    color:#222;

    font-size:18px;

    font-weight:600;

    transition:.3s;

}

nav ul li a:hover{

    color:#ff2d6f;

}
