*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:#fff;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.08);

position:sticky;

top:0;

z-index:999;

}

.logo h1{

color:#ff2d6f;

font-size:36px;

}

.logo span{

font-size:20px;

font-weight:600;

}

nav ul{

display:flex;

list-style:none;

}

nav ul li{

margin-left:35px;

}

nav ul li a{

text-decoration:none;

color:#222;

font-weight:500;

transition:.3s;

}

nav ul li a:hover{

color:#ff2d6f;

}

.hero{

display:flex;

align-items:center;

justify-content:space-between;

padding:80px 8%;

background:linear-gradient(135deg,#3d1038,#74124d,#ff2d6f);

color:white;

}

.hero-left{

width:50%;

}

.hero-left h1{

font-size:65px;

line-height:1.2;

}

.hero-left span{

color:#ff9dc2;

}

.hero-left p{

margin-top:25px;

font-size:20px;

line-height:35px;

}

.btn{

display:inline-block;

margin-top:35px;

padding:18px 45px;

background:white;

color:#ff2d6f;

border-radius:40px;

text-decoration:none;

font-weight:bold;

}

.hero-right{

width:45%;

}

.hero-right img{

width:100%;

border-radius:20px;

}
